body {
    background: linear-gradient(to bottom, rgba(239, 45, 45, 0.7) 0%, rgba(255, 255, 255, 0) 100%), #FF8181;
    background-repeat: no-repeat;
    color: white;
}

.container {
    width: 95%;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

h1 {
    font-family: 'Dancing Script', cursive;
    opacity: 0.8;
    font-size: 8rem;
    margin: 0;
    line-height: 12rem;
}

section {
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
    opacity: 0.7;
    font-size: 2.5rem;
    margin-top: 1.2em;
}

button {
    background-color: rgba(196, 65, 65, 0.25);
    border-color: rgba(196, 65, 65, 0);
    border-radius: 15px;
    width: 16em;
    height: 3.5rem;
    margin-top: 3rem;
}

button a {
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    color: white;
    opacity: 0.9;
}

button a:hover,
button a:focus {
    color: #cacaca;
}

@media (max-width: 500px) {
    h1 {
        margin-bottom: 0;
    }
    section {
        margin-top: 0;
    }
    button {
        margin-top: 2rem;
    }
}